html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  background-color: #ffffff;
  color: #5f4949;
  letter-spacing: 0.03em;
}

a,
img {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
}
.is-hidden .modal {
  scale: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transition-property: visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__container {
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__logo {
  padding: 16px 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav__logo--accent {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (max-width: 768px) {
  .nav__burger-button {
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 16px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .nav__burger-button:focus .nav__icon-open, .nav__burger-button:hover .nav__icon-open {
    fill: #2196f3;
  }
  .nav__burger-button:focus .nav__icon-close, .nav__burger-button:hover .nav__icon-close {
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .nav__burger-button {
    display: none;
  }
}
.nav__icon-close {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__icon-open {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__icon-close {
  display: none;
}
.nav__burger-button.is-open .nav__icon-close {
  display: block;
}
.nav__burger-button.is-open .nav__icon-open {
  display: none;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
.nav__item {
  position: relative;
  min-width: 48px;
}
.nav__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  position: absolute;
  display: flex;
  content: "";
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:focus, .contacts__link:hover {
  color: #2196f3;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
.contacts__icon {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-480.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-480-2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-480-3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
.hero__btn {
  width: 216px;
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-768-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/header-img-768-3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/bg-img-hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/bg-img-hero-2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img/bg-img-hero-3x.jpg);
  }
}

.benefits {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0;
  }
}
.benefits__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .benefits__card {
    width: calc((100% - 90px) / 4);
  }
}
.benefits__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__card-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}
.benefits__card-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #5f4949;
}

.our-works {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-works {
    display: block;
  }
}
.our-works__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.our-works__list {
  display: flex;
  justify-content: space-between;
}
.our-works__img-box {
  position: relative;
}
.our-works__desc {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.our-works__text {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  padding: 60px 0;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding: 94px 0;
  }
}
.our-team__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}
.our-team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
}
.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc((100% - 90px) / 4);
  }
}
.our-team__card-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.our-team__card-desc {
  margin-bottom: 16px;
  line-height: 1.19;
}
.our-team__network-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  margin: 0 auto 30px;
}
.our-team__network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__network-link:hover, .our-team__network-link:focus {
  background-color: #2196f3;
}
.our-team__network-link:hover .our-team__network-icon, .our-team__network-link:focus .our-team__network-icon {
  fill: #ffffff;
}
.our-team__network-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
}
.customers__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.customers__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 61px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;
  width: 100%;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #2196f3;
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .footer__inner {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .footer__address-box {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-box {
    margin-right: 70px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}
.footer__logo--accent {
  color: #2196f3;
}
.footer__address-box {
  margin-bottom: 60px;
}
.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__address-link {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}
.footer__contact-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: #2196f3;
}

.join__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.join__list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
}
.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}
.join__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    margin-left: auto;
  }
}
.sign-up__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .sign-up__form {
    display: flex;
  }
}
.sign-up__email {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  line-height: 1.42;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
@media screen and (min-width: 768px) {
  .sign-up__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__email {
    width: 358px;
    margin-right: 12px;
  }
}
.sign-up__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .sign-up__button {
    margin-top: 0;
  }
}
.sign-up__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  width: auto;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}
.modal__close-icon {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
.modal__lable {
  margin-bottom: 4px;
  margin-right: auto;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}
.modal__input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.modal__input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__icon {
  position: absolute;
  display: flex;
  align-items: center;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__area {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: #188ce8;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-send:hover, .modal__button-send:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkbox {
  opacity: 0;
}
.checkbox:checked + .checkbox__custom {
  background-color: #2196f3;
  border-color: transparent;
}
.checkbox:checked + .checkbox__custom .checkbox__icon {
  opacity: 1;
}
.checkbox__lable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .checkbox__lable {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox__icon {
  display: flex;
  opacity: 0;
  fill: #ffffff;
}
.checkbox__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}
.portfolio__button-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .portfolio__button-list {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__button-list {
    width: 100%;
    justify-content: center;
  }
}
.portfolio__button {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border-style: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  width: auto;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 61px) / 3);
  }
}
.portfolio__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__thumb-desc, .portfolio__link:focus .portfolio__thumb-desc {
  transform: translateY(0);
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__thumb-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__thumb-text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio__desc-box {
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: #ffffff;
}
.portfolio__desc-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio__desc-text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
}

.menu__container {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  background-color: #ffffff;
}
.menu__container.is-open {
  display: block;
}
.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:not(:nth-child(3)) {
  margin-bottom: 32px;
}
.menu__link:nth-child(3) {
  margin-bottom: 306px;
}
.menu__link--current {
  color: #2196f3;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .menu__link-tel {
    font-size: 34px;
  }
}
.menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-mail:hover, .menu__link-mail:focus {
  color: #2196f3;
}
.menu__network-list {
  display: flex;
  gap: 20px;
}
.menu__network-link {
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .menu__network-link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .menu__container.is-open {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */