$icon-black-color: #000000;
$header-border-color: #ececec;
$border-color: #eeeeee;
$accent-color: #2196f3;
$header-logo-color: #000000;
$footer-logo-color: #ffffff;
$black-text-color: #212121;
$grey-text-color: #5f4949;
$white-text-color: #ffffff;
$bg-color: #ffffff;
$dark-bg-color: #2f303a;
$grey-bg-colof: #f5f4fa;
$active-button-bg-color: #188ce8;
$grey-swg-color: #afb1b8;
$grey-text-link: #757575;